@import "header";
@import "footer";

$small: 576px;
$medium: 768px;
$lg: 992px;
$xl: 1200px;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Futura Now", "sans-serif";
}


main {
    width: 65%;
    margin:30px auto;
    h2 {
        text-align: center;
        margin-bottom: 30px;
        margin-top: 40px;
        font-size: 2.3em;
    }
    .main-div {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        
    }
    .tv-div {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        cursor: pointer;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 5px;
        background-color: rgb(240, 234, 234);
        &:hover {
            background-color: rgb(226, 222, 222);
        }
        img {
            width: 100%;
        }
        h4 {
            padding: 20px 0;
            color: rgb(128, 68, 68);
            &:hover {
                color: rgb(160, 107, 107);
            }
        }
    }
}

@media screen and (min-width: $small) {
    nav {
        display: flex;
        justify-content: space-between;
        .wrapper {
            width: 220px;
        }
    }
    main {
        width: 75%;
    }
    .main-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media screen and (min-width: $xl) {
    main {
        width: 70%;
        h2 {
            margin-bottom: 50px;
            font-size: 2.5em;
        }
        .tv-div {
            width: 30%;
            img {
                width: 100%;
            }
        }
    }
}
