@import "header";
@import "footer";

$small: 576px;
$medium: 768px;
$lg: 992px;
$xl: 1200px;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Futura Now", "sans-serif";
}

header {
    h1 a {
        text-decoration: none;
        color: inherit;
        &:hover {
            color:rgb(216, 201, 201);
        }
    }
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
    font-size: 2.3em;
}

main {
    padding: 0 20px;
    width: 65%;
    margin: 0 auto;
}

.imageDiv {
    width: 90%;
    margin: 10px auto;
    img {
        width: 100%;
        border-radius: 5px;
    }
}
.info {
    padding: 0 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h4 {
        padding-bottom: 5px;
        border-bottom: 1px solid rgb(179, 179, 179);
    }
    ul {
        list-style: none;
        padding: 0 30px;
    }
    .seasons {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        border-radius: 5px;
        padding: 10px;
        width: fit-content;
        margin: 10px auto;
        background-color:rgb(240,234,234);
    }
    .cast {
        @extend .seasons;
    }
}
.description {
    text-align: center;
    padding: 5px 10px;
}

@media screen and (min-width: $small) {
    nav {
        display: flex;
        justify-content: space-between;
        .wrapper {
            width: 220px;
        }
    }
    main {
        width: 75%;
    }
    .info {
        width: 70%;
        margin: 0 auto;
    }
}

    

@media screen and (min-width: $medium) {
    main {
        width: 75%;
        padding: 0;
    }
    .main-flex {
        display: flex;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .imageDiv {
        width: 55%;
    }
    .info {
        display:initial;
        width: 35%;
        margin-left: 15px;
        .seasons {
            width: 100%;
            height: fit-content;
            .cast {
                width: 100%;
                height: fit-content;
            }
        }
    }
}

@media screen and (min-width: $lg) {
    main {
        width: 70%;
    }
    .imageDiv {
        width: 50%;
    }
    .info {
        width: 30%;
        .seasons {
            margin-bottom: 15px;
        }
    }
}