* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Futura Now", "sans-serif"; }

header {
  width: 100vw;
  background-color: #212529;
  padding: 15px 0; }
  header nav {
    width: 60%;
    margin: 0 auto; }
    header nav h1 {
      text-align: center;
      padding-top: 7px;
      color: white; }
      header nav h1:hover {
        color: #d8c9c9; }
    header nav .wrapper {
      max-width: 100%;
      padding-top: 10px; }
    header nav .search-input {
      background: #fff;
      width: 100%;
      border-radius: 5px;
      position: relative;
      box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12); }
    header nav input {
      height: 40px;
      width: 100%;
      outline: none;
      border: none;
      border-radius: 5px;
      padding: 0 60px 0 20px;
      font-size: 18px; }
    header nav .search-input .autocom-box {
      padding: 0;
      opacity: 0;
      pointer-events: none; }
    header nav .search-input.active .autocom-box {
      padding: 10px 8px;
      opacity: 1;
      pointer-events: auto; }
      header nav .search-input.active .autocom-box li {
        display: block; }
    header nav .autocom-box {
      width: 100%;
      background-color: white;
      position: absolute;
      top: 39px;
      left: 0;
      border: 1px solid #d1d1d1; }
      header nav .autocom-box li {
        list-style: none;
        padding: 8px 12px;
        display: none;
        width: 100%;
        cursor: pointer;
        border-radius: 3px;
        border-bottom: 1px solid #d1d1d1; }
        header nav .autocom-box li:hover {
          background-color: #efefef; }

main {
  width: 65%;
  margin: 30px auto; }
  main h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
    font-size: 2.3em; }
  main .main-div {
    width: 100%;
    margin: 0 auto;
    text-align: center; }
  main .tv-div {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: pointer;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f0eaea; }
    main .tv-div:hover {
      background-color: #e2dede; }
    main .tv-div img {
      width: 100%; }
    main .tv-div h4 {
      padding: 20px 0;
      color: #804444; }
      main .tv-div h4:hover {
        color: #a06b6b; }

footer {
  background-color: #212529;
  padding: 25px 0;
  text-align: center;
  margin-top: 30px; }
  footer small {
    color: white; }
    footer small .linkedin {
      text-decoration: none;
      color: white; }
      footer small .linkedin:hover {
        color: rgba(213, 187, 214, 0.932); }

@media screen and (min-width: 576px) {
  nav {
    display: flex;
    justify-content: space-between; }
    nav .wrapper {
      width: 220px; }

  main {
    width: 75%; }

  .main-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; } }
@media screen and (min-width: 1200px) {
  main {
    width: 70%; }
    main h2 {
      margin-bottom: 50px;
      font-size: 2.5em; }
    main .tv-div {
      width: 30%; }
      main .tv-div img {
        width: 100%; } }

/*# sourceMappingURL=main.css.map */
