* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Futura Now", "sans-serif"; }

header {
  width: 100vw;
  background-color: #212529;
  padding: 20px 0; }
  header nav {
    width: 60%;
    margin: 0 auto; }
    header nav h1 {
      text-align: center;
      padding-top: 7px; }
      header nav h1 a {
        text-decoration: none;
        color: white; }
        header nav h1 a:hover {
          color: #d8c9c9; }
    header nav .wrapper {
      max-width: 100%;
      padding-top: 10px; }
    header nav .search-input {
      background: #fff;
      width: 100%;
      border-radius: 5px;
      position: relative;
      box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12); }
    header nav input {
      height: 40px;
      width: 100%;
      outline: none;
      border: none;
      border-radius: 5px;
      padding: 0 60px 0 20px;
      font-size: 18px; }
    header nav .search-input .autocom-box {
      padding: 0;
      opacity: 0;
      pointer-events: none; }
    header nav .search-input.active .autocom-box {
      padding: 10px 8px;
      opacity: 1;
      pointer-events: auto; }
      header nav .search-input.active .autocom-box li {
        display: block; }
    header nav .autocom-box {
      width: 100%;
      background-color: white;
      position: absolute;
      top: 39px;
      left: 0;
      border: 1px solid #d1d1d1; }
      header nav .autocom-box li {
        list-style: none;
        padding: 8px 12px;
        display: none;
        width: 100%;
        cursor: pointer;
        border-radius: 3px;
        border-bottom: 1px solid #d1d1d1; }
        header nav .autocom-box li:hover {
          background-color: #efefef; }

main {
  width: 70%;
  margin: 30px auto; }
  main h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em; }
  main .imageDiv {
    width: 100%; }
    main .imageDiv img {
      width: 100%;
      border-radius: 5px; }
  main .info {
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    text-align: center; }
    main .info .seasons, main .info .cast {
      font-size: 1.4em;
      background-color: #ebe9e9;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px; }
      main .info .seasons .season-date, main .info .cast .season-date {
        padding: 0; }
    main .info .cast .cast-list {
      padding: 0; }
    main .info ul {
      list-style: none; }
  main .description {
    text-align: center; }
    main .description h4 {
      margin-bottom: 20px; }
  main h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid #8f8d8d; }

footer {
  background-color: #212529;
  padding: 25px 0;
  text-align: center;
  margin-top: 30px; }
  footer small {
    color: white; }

@media screen and (min-width: 576px) {
  nav {
    display: flex;
    justify-content: space-between; }
    nav .wrapper {
      width: 220px; } }
@media screen and (min-width: 768px) {
  .info {
    display: flex;
    justify-content: space-between; } }
@media screen and (min-width: 992px) {
  .input-type {
    padding: 25px 15px; }

  .tv-title {
    font-size: 3em; }

  .main-flex {
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px; }
    .main-flex .imageDiv {
      padding: 0 50px; }
    .main-flex .info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: fit-content;
      padding-top: 0;
      margin-top: 0; }

  .description {
    font-size: 1.2em; } }
@media screen and (min-width: 992px) {
  .info .seasons, main .info .cast, .info .cast {
    width: 300px;
    font-size: 1.2em; } }

/*# sourceMappingURL=tv-show.css.map */
